.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #ccc 0%, #eee 100%);
}

.canvas {
    position: relative;
    height: var(--default-height);
    width: var(--default-width);
    background-color: var(--canvas-bg);
    box-sizing: border-box;
    box-shadow: 0 0 15px gray;
}

.grid {
    z-index: 1;
    background-image: linear-gradient(var(--grid-color) 1px, transparent 1px), linear-gradient(to right, var(--grid-color) 1px, var(--canvas-bg) 1px);
    background-size: var(--grid-size-x) var(--grid-size-y);
}