.container {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    z-index: 10;
    background-color: var(--canvas-bg);
    border: solid 1px black;
    color: #000;
    overflow-y: scroll;
}
  
.item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--project-border);
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}