.rect {
    position: absolute;
    border-radius: 5px;
}

.text {
    background-color: var(--rect-text);
    z-index: 2;
}

.image {
    background-color: var(--rect-image); 
    z-index: 1;
}

.input {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: var(--rect-border);
    z-index: 2;
}

.icon {
    color: var(--rect-text);
    z-index: 2;
}