.rect {
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}

.text {
    background-color: var(--rect-text);
}

.image {
    background-color: var(--rect-image); 
}

.input {
    border-style: solid;
    border-width: 2px;
    border-color: var(--rect-border);
}
