.topBarButton {
    display: inline-block;
    padding: 0.6em;
    cursor: pointer;
}

.topBarButton:hover {
    background-color: var(--topbar-btn-active);
}

.active {
    background-color: var(--topbar-btn-active);
}
