.topBarButton {
    display: flex;
    align-items: center;
    padding: 0 0.6em;
    height: 100%;
    cursor: pointer;
}

@media (min-width: 768px) {
    .topBarButton:hover {
        background-color: var(--topbar-btn-active);
    }
  }

.active {
    background-color: var(--topbar-btn-active);
}
