.projectMenu {
    padding: 1rem;
    padding-left: 2rem;
    width: 80vw;
}
  
.project {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
