.projectMenu {
    padding: 1rem;
    padding-left: 2rem;
    width: 80vw;
}
  
.project {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--project-border);
    margin-bottom: 10px;
}
  
.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.icon {
    margin-left: 10px;
}

.subText {
    font-size: 0.8rem;
    color: var(--gray);
}